* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html,
body {
  width: 100vw;
  height: 100vh;
  background: #f0f0f0;
}

#graphiql {
  height: 80%;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.body-wrap {
  height: 100%; 
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-wrap {
  font-size: 24px;
  font-family: monospace;
}

.nav-wrap > a {
  text-decoration: none;
  color: #d2054e;
}

.endpoint-wrap {
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  font-family: monospace;
  font-size: 14px;
}

.endpoint-wrap > .method {
  padding-left: 15px;
  padding-right: 45px;
  color: rgb(177, 26, 4);
  background: #e8e8e8;
  height: 100%;
  display: flex;
  align-items: center;
}

select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background: #f0f0f0;
  background-image: none;
  flex: 1;
  padding: .5em 1.5em;
  color:#000;
  cursor:pointer;
  font-size: 1em;
  font-family: monospace;
}
select::-ms-expand {
  display: none;
}
.select {
  display: flex;
  background: #f0f0f0;
  overflow: hidden;
}

.doc-explorer-title {
  height: 2rem;
}

.loading-informer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 1000;
  font-weight: bold;
  color: white;
  background: rgba(0,0,0,0.5);
}